@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap');

.bitcount-header {
  color: #bbe1ff;
  line-height: normal;
  text-align: center;
  font-family: "Bitcount", system-ui;
  font-optical-sizing: auto;
  font-weight: 400; /* Adjust between 100–900 */
  font-style: normal;
  font-variation-settings:
    "slnt" 1,
    "CRSV" 0.5,
    "ELSH" 1,
    "ELXP" 1;
}

.not-implemented {
  text-decoration: line-through solid rgb(168, 56, 56);
}

body {
  letter-spacing: -0.5px;
  line-height: 0.5px;
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 1.25rem;
  color: #fff;
  padding: 2rem;
  background-color: #000005;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  color: #868383;
  text-align: right;
  background: transparent; 
  z-index: 10; 
}

a {
  color: #9cf;
  text-decoration: none;
}

a:hover {
  color: #6ef;
  text-decoration: underline;
}

nav {
  text-align: center;
  line-height: normal;
  margin-bottom: 2rem;
}

nav a {
  margin-right: 1rem;
  background: #222;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  background: #444;
}